@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

* {
  padding: 0;
  margin: 0;
  font-family: "Fira Code";
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.4em;
  color: white;
}

button {
  background: inherit;
  text-decoration: underline white;
  border-style: none;
}
button:hover {
  transform: scale(1.1);
}
button.mat-menu-item:hover{
  transform: scale(1);
}
button.mat-menu-item{
  line-height: 1.4rem;
  height:2rem;
}

.mat-menu-panel{
  min-width: 0px !important;
}
*::-webkit-scrollbar {
  width: 15px;
  background: #000;
}
*::-webkit-scrollbar-thumb {
  background: #000;
  border: 1px solid #fff;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
